@import "abstracts/mixins";
@import "base/reset";
@import "base/colours";

body {
  background: url(img/back.JPG) no-repeat center center/cover fixed;
}

.oblaci {
  @include flex-container;
  padding-top: 2vh;

  div {
    flex-basis: 30vw;
    background: url(img/cloud.png) no-repeat center center/contain;
    height: 20vw;
    width: 33vw;
    position: relative;
    z-index: 99;
  }

  .oblak-1 {
    @include animation("left-right 3.9s 1.1s ease-in-out alternate infinite");
  }

  .oblak-2 {
    @include animation("left-right 3.9s 2.7s ease-in-out alternate infinite");
  }

  .oblak-3 {
    @include animation("left-right 3.9s 3.9s ease-in-out alternate infinite");
  }
}

main {
  .sunce {
    @include animation("gore 3.6s linear forwards");
    background-color: $col-sunce;
    border-radius: 100%;
    position: absolute;
    top: 60vh;
    left: 50vw - 7vw;
    width: 14vw;
    height: 14vw;
    box-shadow: $col-sjena 0 0 50px;
  }
}

footer {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vw;
  font-style: italic;
  color: $col-text;
  bottom: 0;
  position: absolute;
  width: 100vw;
  padding: 1em;
}

@include keyframes(left-right) {
  0% {
    top: 0vw;
  }

  50% {
    top: 2vw;
  }

  100% {
    top: -2vw;
  }
}

@include keyframes(gore) {
  0% {
    top: 50vh;
  }

  100% {
    top: 5vh;
  }
}

@media (max-width: 767px) {
  .oblaci {
    div {
      flex-basis: 49vw;
    }
  }
}

@media (max-width: 479px) {
  .oblaci {
    .oblak-2,
    .oblak-3 {
      display: none;
    }
  }
}
